name: ci-ajv-validator
on:
  push:
    branches: [main]
    paths:
      - 'packages/ajv-validator/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/ajv-validator/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/ajv-validator
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: yarn workspaces focus hono-middleware @hono/ajv-validator
      - run: yarn workspace @hono/ajv-validator build
      - run: yarn test --project @hono/ajv-validator
