name: ci-bun-transpiler
on:
  push:
    branches: [main]
    paths:
      - 'packages/bun-transpiler/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/bun-transpiler/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .tool-versions
      - run: yarn workspaces focus hono-middleware @hono/bun-transpiler
      - run: yarn turbo --filter @hono/bun-transpiler build
      - run: yarn workspace @hono/bun-transpiler test --coverage --coverage-reporter lcov
      - uses: MathurAditya724/codecov-action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          post-pr-comment: true
          fail-ci-if-error: true
          directory: ./packages/bun-transpiler/coverage
          flags: bun-transpiler
