name: ci-bun-transpiler
on:
  push:
    branches: [main]
    paths:
      - 'packages/bun-transpiler/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/bun-transpiler/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .tool-versions
      - run: yarn workspaces focus hono-middleware @hono/bun-transpiler
      - run: yarn turbo --filter @hono/bun-transpiler build
      - run: bun test packages/bun-transpiler --coverage --coverage-reporter lcov
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          directory: ./coverage
          flags: bun-transpiler
