name: ci-conform-validator
on:
  push:
    branches: [main]
    paths:
      - 'packages/conform-validator/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/conform-validator/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: yarn workspaces focus hono-middleware @hono/conform-validator
      - run: bun run --filter @hono/conform-validator build
      - run: bun run --filter @hono/conform-validator publint
      - run: bun eslint packages/conform-validator
      - run: bun run test --coverage --project @hono/conform-validator
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          directory: ./coverage
          flags: conform-validator
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
