name: ci-cabin
on:
  push:
    branches: [main]
    paths:
      - 'packages/cabin/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/cabin/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/cabin
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: yarn workspaces focus hono-middleware @hono/ci-cabin
      - run: yarn workspace @hono/ci-cabin build
      - run: yarn test --project @hono/ci-cabin
