name: ci-oidc-auth
on:
  push:
    branches: [main]
    paths:
      - 'packages/oidc-auth/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/oidc-auth/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/oidc-auth
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: yarn workspaces focus hono-middleware @hono/oidc-auth
      - run: yarn workspace @hono/oidc-auth build
      - run: yarn test --project @hono/oidc-auth
