name: ci-sentry
on:
  push:
    branches: [main]
    paths:
      - 'packages/sentry/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/sentry/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: yarn workspaces focus hono-middleware @hono/sentry
      - run: bun run --filter @hono/sentry build
      - run: bun run --filter @hono/sentry publint
      - run: bun eslint packages/sentry
      - run: bun run test --coverage --project @hono/sentry
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          directory: ./coverage
          flags: sentry
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
