name: ci-tsyringe
on:
  push:
    branches: [main]
    paths:
      - 'packages/tsyringe/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/tsyringe/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: yarn workspaces focus hono-middleware @hono/tsyringe
      - run: bun run --filter @hono/tsyringe build
      - run: bun run --filter @hono/tsyringe publint
      - run: bun eslint packages/tsyringe
      - run: bun test --coverage --project @hono/tsyringe
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          directory: ./coverage
          flags: tsyringe
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
