name: ci-zod-validator
on:
  push:
    branches: [main]
    paths:
      - 'packages/zod-validator/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/zod-validator/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/zod-validator
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - run: yarn workspaces focus hono-middleware @hono/zod-validator
      - run: yarn workspace @hono/zod-validator build
      - run: yarn test --project @hono/zod-validator
