name: ci-zod-openapi
on:
  push:
    branches: [main]
    paths:
      - 'packages/zod-openapi/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/zod-openapi/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        hono-version: ['hono@^4.0.0']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: yarn add ${{ matrix.hono-version }} --mode=update-lockfile
      - run: yarn workspaces focus hono-middleware @hono/zod-openapi
      - run: yarn workspaces foreach --topological --recursive --from @hono/zod-openapi run build
      - run: yarn workspace @hono/zod-openapi publint
      - run: yarn eslint packages/zod-openapi
      - run: yarn test --coverage --project @hono/zod-openapi
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          directory: ./coverage
          flags: zod-openapi
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
