name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - run: yarn
      - run: yarn build
      - run: yarn test

  deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - run: deno test deno_test

  bun:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: curl -fsSL https://bun.sh/install | bash
      - run: echo "${HOME}/.bun/bin" >> $GITHUB_PATH
      - run: bun wiptest bun_test/index.test.ts
