name: cr
on:
  push:
    branches: [main]
    tags: ['!**'] # Avoid publishing on tags
  pull_request:
    types: [opened, synchronize, labeled] # Run on PR creation, updates, and when labels are added

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }} # Concurrency group for each PR
  cancel-in-progress: true # Cancel in progress builds for the same PR

jobs:
  publish:
    if: github.repository == 'honojs/middleware' && (github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'cr-tracked'))
    runs-on: ubuntu-latest
    name: 'Publish: pkg.pr.new'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/cache@v5
        with:
          path: |
            .turbo
            packages/*/.cache
          key: ${{ runner.os }}-turbo-preview-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-preview-
            ${{ runner.os }}-turbo-

      - uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions

      - name: Install Dependencies
        run: yarn

      - name: Build
        run: yarn turbo build

      - name: Publish to StackBlitz
        run: yarn pkg-pr-new publish --compact --no-template './packages/*'
